h1 {
  text-align: center;
  text-decoration: underline;
}

h2 {
  text-align: center;
  text-decoration: underline;
  font-size: 16pt;
  text-decoration: none;
}

p1 {
  font-size: 16pt;
  text-decoration: underline;
}

body {
  background-color: lightblue;
}
